* {
  box-sizing: border-box;
}

.search-form {
  width: 60vw;
  height: 10vh;
  padding: 3vh 10%;
  margin: 2vh 20vw 1vh 20vw;
  background-color: teal;
  border-radius: 10px;
}

.room-contents {
  width: 80vw;
  height: 90vh;
  margin: 0 10vw;
  padding:1vh 15vw 0 15vw;
  background-color:whitesmoke;
}