* {
  box-sizing: border-box;
}

.search-form {
  width: 60vw;
  height: 5vh;
  margin: 1vh 20vw;
  padding: 10px;
  background-color: teal;
  border-radius: 10px;
  text-align: center;
}

.room-contents {
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
  padding:1vh 15vw 0 15vw;
  background-color:whitesmoke;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.create-room-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5px 15px;
  margin: 3vh 0 5vh 0;
  border: black solid 2px;
  border-radius: 5px;
}

.create-room-text {
  font-size: 20px;
  margin-left: 10px;
}

.create-room-btn {
  text-decoration: none;
  color: black;
}