.chat-room-contents {
  height: 100%;
  width: 100vw;
  padding: 1vh 5vw 5vh 5vw;
  background: whitesmoke;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.agenda-content {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
}

.room-titles {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents-title {
  margin: 3vh 0 1vh 0;
  font-size: 18px;
  width: 100%;
  text-align: left;
}

.stance-contents {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stance-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stance-title {
  margin-right: 1vw;
}

.agenda, .stance {
  font-size: 17px;
  margin: 1vh 2vw;
  padding: 1vh 1vw;
  background: white;
  border: black solid 1px;
  border-radius: 4px;
}

.chat-contents {
  margin-top: 2vh;
  width: 60vw;
}

.chat-view {
  height: 70vh;
  width: 100%;
  background: white;
  border: black solid 1px;
  overflow: auto;
}

.chat-form {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-contents {
  display: flex;
  justify-content: space-between;
}

.side_a, .side_b {
  height: 100%;
  width: 40%;
  padding: 0 20px;
}

.side_b {
  text-align: right;
}

.speach_bubble_left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  color: #555;
  font-size: 16px;
  background: rgb(247, 88, 88);
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 10px;
  word-break : break-all;
  min-width: 120px;
  max-width: 100%;
}

.speach_bubble_left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid rgb(247, 88, 88);
  z-index: 2;
}

.speach_bubble_left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.speach_bubble_right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  color: #555;
  font-size: 16px;
  background: aqua;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 10px;
  text-align: left;
  word-break : break-all;
  min-width: 120px;
  max-width: 100%;
}

.speach_bubble_right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid aqua;
  z-index: 2;
}

.speach_bubble_right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}

.tab_content {
  height: 50px;
  width: 50%;
  margin-bottom: 0;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  order: -1;
}

input[name="tab_name"] {
  display: none;
}

input:checked + .tab_content {
  background-color: cadetblue;
  color: aliceblue;
}
 
.chat-content {
  display: none;
  width: 100%;
}
 
input:checked + .tab_content + .chat-content {
  display: block;
}

.room-destroy {
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.owner-menu {
  width: 130px;
  margin-top: 15px;
  padding: 0;
}

.owner-menu > li > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.owner-menu-icon {
  margin-left: 3px;
}

.owner-menu > li.owner-menu-list {
  position: relative;
  margin: 0;
}

li.owner-menu-list ul.second-menu{
  position: absolute;
  top: 20px;
  height: 25px;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.owner-menu-list:hover ul.second-menu {
  top: 25px;
  visibility: visible;
  opacity: 1;
}

.second-menu {
  display: flex;
  align-items: center;
}

.form-comment {
  font-size: 15px;
  height: 100px;
  width: 100%;
  border-radius: 0;
}

.form-submit {
  font-size: 18px;
  height: 40px;
  width: 100%;
  margin: 0;
  border-radius: 0px;
}