.chat-room-contents {
  height: 100%;
  width: 100vw;
  padding: 1vh 5vw 0 5vw;
  background-color: whitesmoke;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2vw;
}

.room-titles {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.contents-title {
  margin: 3vh 0 1vh 0;
  font-size: 18px;
}

.stance-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stance-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stance-title {
  margin-right: 3vw;
}

.agenda, .stance {
  font-size: 17px;
  margin: 1vh 2vw;
  padding: 1vh 1vw;
  background-color: white;
  border: black solid 1px;
  border-radius: 4px;
}

.chat-contents {
  margin-top: 2vh;
}

.chat-view {
  height: 70vh;
  width: 100%;
  background-color: white;
  border: black solid 1px;
}

.chat-form {
  width: 500px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab_content {
  height: 50px;
  width: 50%;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  order: -1;
}

input[name="tab_name"] {
  display: none;
}

input:checked + .tab_content {
  background-color: cadetblue;
  color: aliceblue;
}
 
.chat-content {
  display: none;
  width: 100%;
}
 
input:checked + .tab_content + .chat-content {
  display: block;
}

.room-destroy {
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.owner-menu > li > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.owner-menu-icon {
  margin-left: 3px;
}

.owner-menu > li.owner-menu-list {
  position: relative;
  width: 70px;
}

li.owner-menu-list ul.second-menu{
  position: absolute;
  top: 20px;
  height: 25px;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.owner-menu-list:hover ul.second-menu {
  top: 25px;
  visibility: visible;
  opacity: 1;
}

.second-menu {
  display: flex;
  align-items: center;
}

