<div class="chat-room-contents">

<div class="room-title">
  <div class="content">
  <div class="contents-title">このルームのアジェンダ</div>
  <div class="agenda">
    <%= @room.agenda %>
  </div>
</div>

<div class="content">
<div class="contents-title">このルームのスタンス</div>
  <div class="stance-contents">
    <div class="stance-content">
      <div class="stance-title">スタンスA</div>
      <div class="stance">
        <%= @room.stanceA %>
      </div>
    </div>
    
    <div class="stance-content">
      <div class="stance-title">スタンスB</div>
      <div class="stance">
        <%= @room.stanceB %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="chat-contents">

  <div class="chat-view">
  コメント一覧
  </div>

  <div class="chat-form">
    <input type="radio" name="tab_name" id="tab_a">
    <label class="tab_content" for="tab_a">スタンスA</label>
    <div class="chat-content">
      スタンスAのチャットフォーム
    </div>
    <input type="radio" name="tab_name" id="tab_b">
    <label class="tab_content" for="tab_b">スタンスB</label>
    <div class="chat-content">
      スタンスBのチャットフォーム
    </div>
  </div>

</div>

</div>