<div class="chat-room-contents">

<div class="room-title">
  <div class="content">
  <div class="contents-title">このルームのアジェンダ</div>
  <div class="agenda">
    <%= @room.agenda %>
  </div>
</div>

<div class="content">
<div class="contents-title">このルームのスタンス</div>
  <div class="stance-contents">
    <div class="stance-content">
      <div class="stance-title">スタンスA</div>
      <div class="stance">
        <%= @room.stanceA %>
      </div>
    </div>
    
    <div class="stance-content">
      <div class="stance-title">スタンスB</div>
      <div class="stance">
        <%= @room.stanceB %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="chat-contents">

<div class="my-contents">
</div>

<div class="different-contents">

</div>

</div>