/ *！destyle.css v2.0.2 | MITライセンス| https://github.com/nicolas-cusan/destyle.css * /

/ *ボックスのリセット-モデルと境界線の設定* /
/ * ============================================ * /

*、
：：前、
::後{
  ボックスサイズ：border-box;
  ボーダースタイル：ソリッド;
  ボーダー幅：0 ;
}

/* 資料 */
/ * ============================================ * /

/ **
 * 1。すべてのブラウザで行の高さを修正します。
 * 2.iOSで向きを変更した後のフォントサイズの調整を防止します。
 * 3.iOSのリンクの灰色のオーバーレイを削除します。
 * /

html {
  行の高さ：1.15 ; / * 1 * /
  -webkit-text-size-adjust：100 ％ ; / * 2 * /
  -webkit-tap-highlight-color：透明; / * 3 * /
}

/ *セクション* /
/ * ============================================ * /

/ **
 *すべてのブラウザで余白を削除します。
 * /

ボディ{
  マージン：0 ;
}

/ **
 * IEで一貫して `main`要素をレンダリングします。
 * /

メイン{
  表示：ブロック;
}

/ *垂直リズム* /
/ * ============================================ * /

p 、
テーブル、
ブロッククォート、
住所、
プレ、
iframe 、
フォーム、
図、
dl {
  マージン：0 ;
}

/ *見出し* /
/ * ============================================ * /

h1 、
h2 、
h3 、
h4 、
h5 、
h6 {
  font-size：継承;
  行の高さ：継承;
  font-weight：継承;
  マージン：0 ;
}

/ *リスト（列挙）* /
/ * ============================================ * /

ul 、
ol {
  マージン：0 ;
  パディング：0 ;
  リストスタイル：なし;
}

/ *リスト（定義）* /
/ * ============================================ * /

dt {
  font-weight：太字;
}

dd {
  マージン左：0 ;
}

/ *コンテンツのグループ化* /
/ * ============================================ * /

/ **
 * 1.Firefoxで正しいボックスサイズを追加します。
 * 2.EdgeとIEでオーバーフローを表示します。
 * /

時間{
  ボックスサイズ：コンテンツボックス; / * 1 * /
  高さ：0 ; / * 1 * /
  オーバーフロー：表示; / * 2 * /
  border-top-width：1 px ;
  マージン：0 ;
  明確：両方;
  色：継承;
}

/ **
 * 1。すべてのブラウザでフォントサイズの継承とスケーリングを修正します。
 * 2。すべてのブラウザで奇数の `em`フォントサイズを修正します。
 * /

pre {
  font-family：monospace 、 monospace; / * 1 * /
  font-size：継承; / * 2 * /
}

アドレス{
  フォントスタイル：継承;
}

/ *テキストレベルのセマンティクス* /
/ * ============================================ * /

/ **
 * IE10のアクティブなリンクの灰色の背景を削除します。
 * /

a {
  背景色：透明;
  テキスト装飾：なし;
  色：継承;
}

/ **
 * 1. Chrome57の下の境界線を削除します-
 * 2. Chrome、Edge、IE、Opera、Safariに正しいテキスト装飾を追加します。
 * /

abbr [タイトル] {
  テキスト装飾：下線; / * 2 * /
  テキスト装飾：点線の下線; / * 2 * /
}

/ **
 * Chrome、Edge、Safariで正しいフォントの太さを追加します。
 * /

b 、
強い{
  font-weight：太字;
}

/ **
 * 1。すべてのブラウザでフォントサイズの継承とスケーリングを修正します。
 * 2。すべてのブラウザで奇数の `em`フォントサイズを修正します。
 * /

コード、
kbd 、
samp {
  font-family：monospace 、 monospace; / * 1 * /
  font-size：継承; / * 2 * /
}

/ **
 *すべてのブラウザで正しいフォントサイズを追加します。
 * /

小さい{
  フォントサイズ：80 ％ ;
}

/ **
 * `sub`要素と` sup`要素がの行の高さに影響を与えないようにします
 *すべてのブラウザ。
 * /

サブ、
sup {
  フォントサイズ：75 ％ ;
  行の高さ：0 ;
  位置：相対;
  垂直整列：ベースライン;
}

サブ{
  下：-0.25 em ;
}

sup {
  上：-0.5 em ;
}

/ *埋め込みコンテンツ* /
/ * ============================================ * /

/ **
 *垂直方向の配置の問題を防ぎます。
 * /

img 、
埋め込み、
オブジェクト、
iframe {
  垂直整列：下;
}

/ *フォーム* /
/ * ============================================ * /

/ **
 *フォームフィールドをリセットしてスタイルを設定できるようにする
 * /

ボタン、
入力、
optgroup 、
選択し、
textarea {
  -webkit-外観：なし;
  外観：なし;
  垂直整列：中央;
  色：継承;
  フォント：継承;
  背景：透明;
  パディング：0 ;
  マージン：0 ;
  アウトライン：0 ;
  border-radius：0 ;
  text-align：継承;
}

/ **
 *ラジオとチェックボックスの外観をリセットして、iOSでの外観を維持します。
 * /

[タイプ= "チェックボックス" ] {
  -webkit-外観：チェックボックス;
  外観：チェックボックス;
}

[ type = "radio" ] {
  -webkit-外観：ラジオ;
  外観：ラジオ;
}

/ **
 * IEでオーバーフローを表示します。
 * 1.Edgeでオーバーフローを表示します。
 * /

ボタン、
入力{
  / * 1 * /
  オーバーフロー：表示;
}

/ **
 * Edge、Firefox、およびIEでのテキスト変換の継承を削除します。
 * 1.Firefoxでテキスト変換の継承を削除します。
 * /

ボタン、
選択{
  / * 1 * /
  テキスト変換：なし;
}

/ **
 * iOSおよびSafariでクリック可能なタイプのスタイルを設定できない問題を修正しました。
 * /

ボタン、
[タイプ= "ボタン" ] 、
[ type = "reset" ] 、
[ type = "submit" ] {
  カーソル：ポインタ;
  -webkit-外観：なし;
  外観：なし;
}

ボタン[無効] 、
[タイプ= "ボタン" ] [無効] 、
[ type = "reset" ] [ disabled ] 、
[ type = "submit" ] [ disabled ] {
  カーソル：デフォルト;
}

/ **
 * Firefoxの内側の境界線とパディングを削除します。
 * /

ボタン::- moz-focus-inner 、
[ type = "button" ] :: -moz-focus-inner 、
[ type = "reset" ] :: -moz-focus-inner 、
[ type = "submit" ] :: -moz-focus-inner {
  ボーダースタイル：なし;
  パディング：0 ;
}

/ **
 *前のルールで設定されていないフォーカススタイルを復元します。
 * /

ボタン：-moz-focusring 、
[ type = "button" ]：-moz-focusring 、
[ type = "reset" ]：-moz-focusring 、
[ type = "submit" ]：-moz-focusring {
  アウトライン：1ピクセルの点線のButtonText;
}

/ **
 * IE10およびIE11の矢印を削除
 * /

選択::- ms-expand {
  表示：なし;
}

/ **
 *パディングを削除します
 * /

オプション{
  パディング：0 ;
}

/ **
 *非表示にリセット
 * /

フィールドセット{
  マージン：0 ;
  パディング：0 ;
  最小幅：0 ;
}

/ **
 * 1.EdgeとIEでのテキストの折り返しを修正します。
 * 2.IEの `fieldset`要素からの色の継承を修正します。
 * 3.パディングを削除して、開発者がゼロになったときに巻き込まれないようにします
 *すべてのブラウザの `fieldset`要素。
 * /

凡例{
  色：継承; / * 2 * /
  表示：テーブル; / * 1 * /
  最大幅：100 ％ ; / * 1 * /
  パディング：0 ; / * 3 * /
  空白：通常; / * 1 * /
}

/ **
 * Chrome、Firefox、Operaで正しい垂直方向の配置を追加します。
 * /

進捗状況{
  垂直整列：ベースライン;
}

/ **
 * IE10以降のデフォルトの垂直スクロールバーを削除します。
 * /

textarea {
  オーバーフロー：自動;
}

/ **
 * Chromeのインクリメントボタンとデクリメントボタンのカーソルスタイルを修正しました。
 * /

[ type = "number" ] :: -webkit-inner-spin-button 、
[ type = "number" ] :: -webkit-outer-spin-button {
  高さ：自動;
}

/ **
 * 1.Safariのアウトラインスタイルを修正します。
 * /

[ type = "search" ] {
  アウトラインオフセット：-2px; / * 1 * /
}

/ **
 * macOSのChromeとSafariの内側のパディングを削除します。
 * /

[ type = "search" ] :: -webkit-search-decoration {
  -webkit-外観：なし;
}

/ **
 * 1.iOSおよびSafariでクリック可能なタイプのスタイルを設定できない問題を修正します。
 * 2.Safariでフォントプロパティを `inherit`に変更します。
 * /

:: -webkit-file-upload-button {
  -webkit-外観：ボタン; / * 1 * /
  フォント：継承; / * 2 * /
}

/ **
 *クリック可能なラベル
 * /

ラベル[ for ] {
  カーソル：ポインタ;
}

/ *インタラクティブ* /
/ * ============================================ * /

/ *
 * Edge、IE 10以降、およびFirefoxに正しい表示を追加します。
 * /

詳細{
  表示：ブロック;
}

/ *
 *すべてのブラウザに正しい表示を追加します。
 * /

要約{
  表示：リストアイテム;
}

/ *
 *編集可能なコンテンツのアウトラインを削除します。
 * /

[コンテンツ編集可能] {
  アウトライン：なし;
}

/* テーブル */
/ * ============================================ * /

テーブル{
  border-collapse：collapse;
  ボーダー間隔：0 ;
}

キャプション{
  text-align：左;
}

td 、
th {
  垂直整列：上;
  パディング：0 ;
}

th {
  text-align：左;
  font-weight：太字;
}

/ *その他* /
/ * ============================================ * /

/ **
 * IE10以降で正しい表示を追加します。
 * /

テンプレート{
  表示：なし;
}

/ **
 * IE10に正しい表示を追加します。
 * /

[非表示] {
  表示：なし;
}

body {
  margin: 0;
}

textarea {
  resize: none;
}

.input-default {
  height: 25px;
  border-radius: 4px;
}

.login-flash-message {
  color: red;
}